@import "utilities";
:root {
  --bs-success : #198754;
  --bs-teal: #20c997;
  --bs-gray: #6c757d;
  --bs-black: #000;
  --bs-white: #fff;
}


.dark-mode {
  color-scheme: dark;
  --bs-body-color: #adb5bd;
  --bs-body-bg: #212529;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-light-taxt-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
}

body{
  font-size: 1.1rem;
  font-family: "Poppins", ans-serif;
  background-color: var(--bs-body-bg);
}

/*  head  */
.home {
  min-height: 100vh;
  overflow: hidden;
}
section {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 5rem;
}
.container {
display: none;
transform: translateY(-100%) scaleY(0);
transition: all 0.4s ease-in-out;
background-color: var(--bs-body-bg);
}

.active {
  display: block;
  transform: translateY(0) scaleY(1);
  animation: slideout 1s ease-in-out;
}
@keyframes slideout {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

  .controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 3%;
    z-index: 10;
    transform: translateY(-50%);

  }

.controls .control{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  padding: 0rem;
  margin: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.controls .activeBtn{
  background-color: var( --bs-success);
}

.controls .control i{
  margin: 0 auto;
  pointer-events: none;
}

.theme-btn {
 width: 50px;
  height: 50px;
  position: fixed;
  top: 7rem;
  right: 2.5%;
}



.btn-con {
  margin-top: 3rem;
    display: flex;
    align-self: flex-start;
    a{ text-decoration: none;}
}
.cv-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--bs-success);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text { padding: 0 2rem;
    font-variant: small-caps;}
    .btn-icon {
        background-color: var(--bs-success);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        i{
          font-size: 0.5rem;
        }

    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover {
        transition: all .4s ease-out;
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--bs-success);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }

}

header {
  // display: grid;
  //grid-template-columns: 2fr 1fr;
//  grid-gap: 2rem;
  padding-top: 5rem;
  position: relative;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}

header .left-home {
  flex-basis: 65%;
  margin-top: 5%;
  padding-top: 5rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  transition: all 0.4s ease-out;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var( --bs-success);
  }
  h4{
    font-size: 2rem;
    font-weight: 600;
  span {
    color: var( --bs-success);
    font-weight: 700;

  }
  p{
    font-size: 1.5rem;
    font-weight: 800;
    font-variant: small-caps;
  }
  }
}


header .right-home {
  margin-top: 5%;
  flex-basis: 30%;
  transition: all 0.4s ease-out;
  img {
    background-color: var(--bs-body-bg);
    height: auto;
    width: 100%;
    filter: grayscale(5%);
  }
}

/* ABOUT */
  .about-con {
    margin-bottom: 3rem;
    display: flex;
  //  justify-content: center;
  //  align-items: center;
   /* grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;*/
    .about-intro {
      flex-basis: 70%;
      padding-top: 5rem;
      padding-left: 5rem;
      h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--bs-success);
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }
    .about-img {
      flex-basis: 25%;
      margin-top: 8rem;
      width: 100%;
      height: 100%;
      img {
        //opacity: 0.8;
        display: block;
        height: auto;
        width: 100%;}
    }
  }

  .skills {
    margin-left: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub-title {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  .box-con{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    p {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      font-variant: small-caps;
     }
     .progress-con {
       display: flex;
       justify-content: center;
       margin-bottom:2rem;
       p {
        margin: 0;

       }
       .progress {
         margin-left: 0.5rem;
         margin-bottom: 0;
         width: 100%;
         /*color: var(--bs-success);*/
         position: relative;
         span {
           position: absolute;
           top: 0;
           left: 0;
           height: 100%;
           background-color: var(--bs-success);
         }
         .html {
           width: 80%;
         }
         .css3 {
           width: 75%;
         }
         .sass {
           width:75%;
         }
         .javascript {
           width: 70%;
         }
         .react-redux {
           width: 65%;
         }
         .git-github {
           width: 65%;
         }


       }
     }
  }

 .timeline {
   margin-left: 5rem;

   h3 {
     text-transform: capitalize;
     text-align: center;
     font-size: 2rem;
     font-weight: 400;
     margin-bottom: 5rem;

   }

 }
 .timeline-con {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
     h5 {
       font-weight: 700;
       text-align: left;
       text-transform: capitalize;
       margin-bottom: 3rem;
     }
   .timeline-item {
     position: relative;
     border-left: 1px solid gray;
     padding: 0 3rem;
     .bullet {
       position: absolute;
       top: 0;
       left: -27px;
       height: 50px;
       width: 50px;
       border-radius: 50%;
       background-color: var(--bs-success);
     }
     .timeline-date {
       padding: 0.5rem;
       text-align: center;
       align-self: center;
       width: 200px;
       border-radius: 30px;
       background-color: var(--bs-gray);
     }
   }
 }

/* PORTFOLIO */
.portfolio {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bs-success);
    text-align: center;
    text-transform: capitalize;
  }
  p {
    text-align: center;
    font-size: 1.1rem;
  }

  .portfolios {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
  }

  .project {
    border-radius: 15px;
    background-color: gray;
    position: relative;
    .image {
      width: 100%;
      height: 200px;
      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .hover-box {
      border-radius: 15px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--bs-teal);
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 0.4s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {

      }
      .port-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0.5rem;
          height:50px;
          width: 50px;
          background-color: var(--bs-gray);
          border-radius: 50%;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: var(--bs-teal);
          }
        }
      }
    }
  }
  .project:hover {
  }
  .project:hover .hover-box {
    opacity: 1;
    transform: scale(1);
  }

}

/* CONTACT */
.Contact-con {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-top: 3rem;
}
  .left-contact {
   padding-left: 5rem;
   flex-basis: 38%;
   padding-top: 0rem;;
   font-size: 1.1rem;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      padding-bottom: 2rem;
      color: var(--bs-success);
    }
    p{
      i{
        font-size: 1rem;
        color: var(--bs-body-color);
        margin-right: 0.5rem;
      }
    }
    .social-con {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1rem;

      a {
        margin-right: 1rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
          }
         .gith{background-color: --bs-black;
         color:--bs-white; }
        }

    }

  }
}

  .right-contact {
    //transform: translate(-50% -50%);
    flex-basis: 60%;
    padding-top: 8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 80%;
      input, textarea {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      padding: 0.5rem 1.5rem;
      width: 100%;
      border-radius: 10px;
      border: 0;
      outline: none;
      background-color: var(--bs-gray);
      color: var(--bs-white);
    }
    }

    .right-contact button {
    width: 30%;
    align-self: center;
    border-radius: 10px;
    background-color: var(--bs-gray);
    &:hover{
      background-color: var(--bs-success);
    }
  }

  @media screen and (max-width: 767px) {
    .controls{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      top: 2%;
      right: 50%;
      width: 80%;
      transform: translateX(50%);
      //border: 1px solid black;
      .control{
        width: 35px;
        height: 35px;
      }
    }
    .theme-btn {
     width: 35px;
      height: 35px;
      position: fixed;
      top: 2rem;
      right: 1.5%;
    }
    .btn-con {
      margin-top: 1.5rem;
    }
    .cv-btn {
      .btn-text { padding: 0 0.5rem;
      }
      i{
        padding: 0rem;
        font-size: 1.5rem;
      }
    }
    section{
      padding: 1rem 2rem;
    //  margin: 0 auto;
    }
    header{
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      h1{
        font-size: 2rem;
        padding-top: 1rem;
      }
     .left-home {
        margin-top: 1%;
      }
     .right-home{
        margin-top: 1%;
        img{
          width: 60%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .about-con{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    //  padding-left: 1rem;
      //margin: 0 auto;
      .about-intro {
     //flex-basis: 100%;
      padding: 5rem 0 2rem 0;
      width: 80%;
      h1{
        margin-bottom: 1.5rem;
      }
      }
    }

    .about-img {
      display: none;
    }
    .skills .box-con {
      display: grid;
      grid-template-columns: 1fr;

    }
    .timeline-con{
      display: grid;
      grid-template-columns: 1fr;
    }
    .portfolio {
      padding-top: 5rem;
      margin: 0 auto;
      .portfolios {
      display: grid;
      grid-template-columns: 1fr;

      }
    }
    .Contact-con {
      display: flex;
      flex-direction: column;

      .left-contact{
        margin: 0px;
        padding: 2rem 0px;
      }
      .right-contact{
      margin-top: 0rem;
      padding-left: 0.5;
      }

    }


  }
@media screen and (max-width: 1023px){
  .skills .box-con {
    display: grid;
    grid-template-columns: 1fr;
  }
.about-img {
  display: none;
}
}
